name: Build

on:
  push:
    branches:
      - script
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: read


    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.13
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build
        run: |
          python ./ci.py

      - name: 处理目录结构
        run: |
          rm -rf .data/uploads_old/common
          for dir in .data/uploads_old/*/; do
              cp -r .data/uploads/* "$dir"
          done
          rm -rf .data/uploads
          mv .data/uploads_old .data/uploads

      - name: 部署到 aliyun 分支
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # 这是文档部署到的分支名称
          branch: aliyun
          folder: .data/uploads/Aliyun

      - name: 部署到 edgeone 分支
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # 这是文档部署到的分支名称
          branch: edgeone
          folder: .data/uploads/edgeone
          
      - name: 部署到 CloudFlare 分支
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # 这是文档部署到的分支名称
          branch: CloudFlare
          folder: .data/uploads/CloudFlare

      - name: 部署到 main 分支
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # 这是文档部署到的分支名称
          branch: main
          folder: .data/uploads/GitHub
